/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "global.scss";

@mixin header{
  font-family: 'IBM Plex Sans', sans-serif;
}

@mixin squares {
  width: 100%;
  height: 100%;
  padding-top:30em;
}

@mixin pfolioheader {
  height:30rem;
  background-position: center center;
  @include lg {
    height:20rem;
    background-position: top center;
  }
  @include med {
    height:20rem;
    background-position: top center;
  }
  @include sm {
    height:20rem;
    background-position: top center;
  }
  @include x-sm {
    height:15rem;
    background-position: top center;
  }
  @include xx-sm {
    height:10rem;
    background-position: top center;
  }
}

html, body {
  height:100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  @include header;
  font-weight:700;
}

body {
  @include header;
  font-weight:100;
}

.space-ray {
  @include cover;
  @include squares;
  background-image: url("../srhero.jpg");
}

.cccom {
  @include cover;
  @include squares;
  background-image: url("../img/ccomsquareupdate.jpg");
}

.wrangler {
  @include cover;
  @include squares;
  background-image: url("../img/wranglershoes.jpg");
}

.meundies {
  @include cover;
  @include squares;
  background-image: url("../img/meundiesundies.jpg");
}

.wellsfargo {
  @include cover;
  @include squares;
  background-image: url("../img/ponysquare3.jpg");
}

/*portfolio pages*/

.persona {
  background: url("../img/stealyourheart/persona-header.jpg") no-repeat;
  @include cover;
  @include pfolioheader;
}

.desktop {
  width: 80%;

  @include med {
    width: 100%;
  }

  @include sm {
    width: 100%;
  }

  @include x-sm {
    width: 100%;
  }

  @include xx-sm {
    width: 100%;
  }
}

.mobile {
  width: 40%;
}
