/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "global.scss";

@mixin header{
  font-family: 'IBM Plex Sans', sans-serif;
}

@mixin squares {
  width: 100%;
  height: 100%;
  padding-top:30em;
}

@mixin pfolioheader {
  height:30rem;
  background-position: top center;
  @include lg {
    height:20rem;
    background-position: top center;
  }
  @include med {
    height:20rem;
    background-position: top center;
  }
  @include sm {
    height:20rem;
    background-position: top center;
  }
  @include x-sm {
    height:15rem;
    background-position: top center;
  }
  @include xx-sm {
    height:10rem;
    background-position: top center;
  }
}

html, body {
  height:100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  @include header;
  font-weight:700;
}

body {
  @include header;
  font-weight:100;
}

.space-ray {
  @include cover;
  @include squares;
  background-image: url("../srhero.jpg");
}

.cccom {
  @include cover;
  @include squares;
  background-image: url("../img/squares/ccomsquareupdate.jpg");
}

.wrangler {
  @include cover;
  @include squares;
  background-image: url("../img/squares/wranglershoes.jpg");
}

.meundies {
  @include cover;
  @include squares;
  background-image: url("../squares/img/meundiesundies.jpg");
}

.wellsfargo {
  @include cover;
  @include squares;
  background-image: url("../img/squares/ponysquare3.jpg");
}

/*portfolio pages*/

#persona {
  .persona {
    background: url("../img/stealyourheart/persona-header.jpg") no-repeat;
    @include cover;
    @include pfolioheader;
  }
  .desktop {
    width: 80%;

    @include med {
      width: 100%;
    }

    @include sm {
      width: 100%;
    }

    @include x-sm {
      width: 100%;
    }

    @include xx-sm {
      width: 100%;
    }
  }
  .mobile {
    width: 40%;
  }
  button {
    margin-left: 1rem;
    padding:1.5em;
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;

    a {
      color:white;
      text-decoration: none;
    }

  }
  button:hover {
    background-color:black;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}

#meundies {
  .meundies {
    background: url("../img/meundies/meundiesheader.jpg") no-repeat;
    @include cover;
    @include pfolioheader;
  }
  .desktop {
    width: 80%;

    @include med {
      width: 100%;
    }

    @include sm {
      width: 100%;
    }

    @include x-sm {
      width: 100%;
    }

    @include xx-sm {
      width: 100%;
    }
  }
  .mobile {
    width: 40%;
  }
  button {
    margin-left: 1rem;
    padding:1.5em;
    background-color: #21344f;
    border: none;
    color: white;
    font-weight: bold;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;

    a {
      color:white;
      text-decoration: none;
    }

  }
  button:hover {
    background-color:#74b1ea;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}

#spaceraysale {
  .spaceray-sale {
    background: url("../img/spaceray-sale/header.jpg") no-repeat;
    @include cover;
    @include pfolioheader;
    @include sm {
      height:11rem;
      background-position: top center;
    }
    @include x-sm {
      height:11rem;
      background-position: top center;
    }
    @include xx-sm {
      height:8rem;
      background-position: top center;
    }
  }
  .desktop {
    width: 80%;

    @include med {
      width: 100%;
      background-position: center center;
    }

    @include sm {
      width: 100%;
      background-position: center center;
    }

    @include x-sm {
      width: 100%;
      background-position: center center;
    }

    @include xx-sm {
      width: 100%;
      background-position: center center;
    }
  }
  .mobile {
    width: 40%;
  }
  button {
    margin-left: 1rem;
    padding:1.5em;
    background-color: #ec3140;
    border: none;
    color: white;
    font-weight: bold;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;

    a {
      color:white;
      text-decoration: none;
    }

  }
  button:hover {
    background-color:#cc1928;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}
#google-ssl {
  .google {
    background: url("../img/google-ssl/header.jpg") no-repeat;
    @include cover;
    @include pfolioheader;
    @include sm {
      height:11rem;
      background-position: top center;
    }
    @include x-sm {
      height:11rem;
      background-position: top center;
    }
    @include xx-sm {
      height:8rem;
      background-position: top center;
    }
  }
  .desktop {
    width: 80%;

    @include med {
      width: 100%;
      background-position: center center;
    }

    @include sm {
      width: 100%;
      background-position: center center;
    }

    @include x-sm {
      width: 100%;
      background-position: center center;
    }

    @include xx-sm {
      width: 100%;
      background-position: center center;
    }
  }
  .mobile {
    width: 40%;
  }
  button {
    margin-left: 1rem;
    padding:1.5em;
    background-color: #bebebe;
    border: none;
    color: white;
    font-weight: bold;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;

    a {
      color:white;
      text-decoration: none;
    }

  }
  button:hover {
    background-color:#898989;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}
#crownsguard {
  .crownsguard {
    background: url("../img/crownsguard/header.jpg") no-repeat;
    @include cover;
    @include pfolioheader;
    @include sm {
      height:11rem;
      background-position: top center;
    }
    @include x-sm {
      height:11rem;
      background-position: top center;
    }
    @include xx-sm {
      height:8rem;
      background-position: top center;
    }
  }
  .desktop {
    width: 80%;

    @include med {
      width: 100%;
      background-position: center center;
    }

    @include sm {
      width: 100%;
      background-position: center center;
    }

    @include x-sm {
      width: 100%;
      background-position: center center;
    }

    @include xx-sm {
      width: 100%;
      background-position: center center;
    }
  }
  .mobile {
    width: 40%;
  }
  button {
    margin-left: 1rem;
    padding:1.5em;
    background-color: #000000;
    border: none;
    color: white;
    font-weight: bold;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;

    a {
      color:white;
      text-decoration: none;
    }

  }
  button:hover {
    background-color:#2e2f2f;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}
#spacerayweb {
  .spacerayweb {
    background: url("../img/spaceraywebsite/header.jpg") no-repeat;
    @include cover;
    @include pfolioheader;
  }
  .desktop {
    width: 80%;

    @include med {
      width: 100%;
      background-position: center center;
    }

    @include sm {
      width: 100%;
      background-position: center center;
    }

    @include x-sm {
      width: 100%;
      background-position: center center;
    }

    @include xx-sm {
      width: 100%;
      background-position: center center;
    }
  }
  .mobile {
    width: 40%;
  }
  button {
    margin-left: 1rem;
    padding:1.5em;
    background-color: #db4433;
    border: none;
    color: white;
    font-weight: bold;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;

    a {
      color:white;
      text-decoration: none;
    }

  }
  button:hover {
    background-color:#af3629;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}
